.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

.vscode/
.idea/
.ipynb_checkpoints/

*.tif
*.tiff
*.tfrecord

yolov8*.pt
yolo*.pt

runs/**/*.pt
runs/**/*.onnx

find-airport-1/train/
find-airport-1/valid/
find-airport-1/test/
*.cache